<% provide(:title, @user.fname + " " + @user.lname)%>
<% if logged_in? %>

	<div class="row">
	  <aside class="col-md-4">
	    <section class="user_info">
			<h1>
				<%= gravatar_for @user %> 
				<%= @user.fname %>, <%= @user.lname %>, <%= @user.age %>
			</h1>
	    </section>
	  </aside>
	</div>

<% else %>

	<h1>Must be logged in to see a viewers web page</h1>	


<% end %>