<% provide(:title, "Home") %>
<h1>Home Page</h1>
<p>
 The home page will show recent news acquired from friends, groups, sports, interests, and what ever other sources the user specifies in their account. 
</p>

<p>
 Birthday Updates. events, important dates, and friend recommendations will be shown on this page. 
</p>

