<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to My Sweet Spot </h1>

  <h2>
    This is the home page for the my sweet spot social networking site. The home page will show recent news acquired from friends, groups, sports, interests, and what ever other sources the user specifies in their account. 

    Birthday Updates. events, important dates, and friend recommendations will be shown on this page. 
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

