<% provide(:title, "Recipes") %>
<h1>Recipes</h1>

<p>
 The recipes page will contain food recipes upload by other users on the website. This page will be an effective way for users to find, and share recipe ideas. 
</p>
