<% provide(:title, "Recipes") %>
<div class="center jumbotron">
	<h1>Recipes</h1>

	<h2>
	The recipes page will contain food recipes upload by other users on the website. This page will be an effective way for users to find, and share recipe ideas. 
	</h2>

	<p><b>DISCLAIMER> This view will need its own controller object once a database model is created</b></p>

	<p><b>DISCLAIMER2> The like button equivalent on FB to recipes is Bolus(syringe needle symbol)</b></p>

</div>