<% provide(:title, "Resources") %>
<div class="center jumbotron">
	<h1>Resources</h1>

	<h2>
	The resources page will contain additional resources that can help users when it comes to general information about diabetes or insulin, statistical facts, references to other diabetes related websites, contact information for additional questions, and more. 
	</h2>

</div>