<header class="navbar navbar-inverse navbar-fixed-top">

	<div class="container">
	<%= link_to image_tag("blue-logo-h.png", alt: "IDF Logo"),'http://www.idf.org/', id: "logoh" %>
	<%= link_to "My Sweet Spot", home_path, id: "logo" %>
			<ul class="nav nav-pills navbar-inverse">
				<li class="active">
					<li><%= link_to "Home",   home_path %></li>
					<li><%= link_to "Users",   users_path %></li>
				</li>
				<li>
					<a href="#">Profile</a>
				</li>
				<li class="disabled">
					<a href="#">Messages</a>
				</li>
				<li class="dropdown pull-right">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Action</a>
						</li>
						<li>
							<a href="#">Another action</a>
						</li>
						<li>
							<a href="#">Something else here</a>
						</li>
						<li class="divider">
						</li>
						<li>
							<a href="#">Separated link</a>
						</li>
					</ul>
				</li>
			</ul>
	</div>

</header>